/* Logo de la aplicación */
.app-name a.brand{
  background-image: url('/assets/logoSD.png');
  width: 46px;height: 40px;padding: 0;
  margin: 0;margin-right:20px;text-indent: -9999px;
  background-size: 50px;
}

input.login-input, input.password-input{
width: 100%;
}


.btn-primary {
  background-color: #000;
  background-image: linear-gradient(to bottom, #000, #000);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]{
  background-image: linear-gradient(to bottom, #000, #000);
  color: #fff
}
